<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ICA - Player Profile</title>
    <!--Firebase-->
    <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
    <!--JS-->
    <script src="../javascripts/player.js"></script> 
    <!--CSS file-->
    <link href="../stylesheets/player.css" rel="stylesheet" type="text/css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">
    <div id="header" class="row">
        <!--top left menu-->
        <div id="menuDropdown" class="col-md-1">
            <div id="menuDropdown" class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="menuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <img width="30px" height="30px" src="https://yellowelcamino.files.wordpress.com/2014/09/menu-icon.png">
                <span class="caret"></span>
                </button>
                <ul id="menuDropdown" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <a id="homeLink"><li>Home</li></a>
                    <a id="settingsLink"><li>Settings</li></a>
                </ul>
            </div> 
        </div>
        <!--Header of Page with menu at top left-->
        <div class="col-md-offset-2 col-md-6">
            <h4>Player Profile</h4>
        </div>
    </div>

    <div class="row">
        <div id="playerInfo" class="col-md-offset-3 col-md-6 page-header">
            <div><img id="playerPic"></div>
            <div><h3 id="playerName"></h3></div>
            <div><h4 id="playerPosition"></h4></div>
            <div id="playerStatus" class="col-md-offset-3 col-md-6"><div id="status"></div></div>
        </div>
    </div>
    <div class="row">
      <div id="chart" class="col-md-offset-3 col-md-6 box">
        <svg viewBox="15 -30 120 60" class="graph" aria-labelledby="title" id="svg">
          <title id="title">Frequency of hits over time</title>
          <polyline
            id="hits_polyline"
            fill="none"
            stroke="#0074d9"
            stroke-width="1"
            points="0,0"
           />
        </svg>
      </div> 
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8"><h3><u>Recommendations</u></h4></div>
        <div class="col-md-offset-2 col-md-8" id="recommendations"><ol><li>Player health is sufficient for game time</li></ol></div>
    </div>
</div>

</body>

</html>


