<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ICA - Settings</title>
    <!--Firebase-->
    <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
    <!--JS-->
    <script src="../javascripts/settings.js"></script> 
    <!--CSS file-->
    <link href="../stylesheets/settings.css" rel="stylesheet" type="text/css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">
    <div id="header" class="row">
        <!--top left menu-->
        <div id="menuDropdown" class="col-md-1">
            <div id="menuDropdown" class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="menuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <img width="30px" height="30px" src="https://yellowelcamino.files.wordpress.com/2014/09/menu-icon.png">
                <span class="caret"></span>
                </button>
                <ul id="menuDropdown" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <a id="homeLink"><li>Home</li></a>
                    <li>Settings</li>
                </ul>
            </div> 
        </div>
        <!--Header of Page with menu at top left-->
        <div class="col-md-offset-2 col-md-6">
            <h4>User Settings</h4>
        </div>
    </div>
</div>
<!--Listing user information-->
<div class="row">
    <div id="leftBorder" class="col-md-3"></div>
    <div id="userInfo" class="col-md-6">
        <div><button class="no_show" data-toggle="modal" data-target="#picModal"><img id="userPic"></button></div>
        <div><button class="no_show" data-toggle="modal" data-target="#displayNameModal"><h4>Name: <small><strong id="displayName"><strong></small></h4></button></div>
        <div><button class="no_show" data-toggle="modal" data-target="#displayPosition"><h4>Position with Team:<small><strong id="displayPosition"><strong></small></h4></button></div>
        <div><button class="no_show"><h4>Email:<small><strong id="displayEmail"><strong></small></h4></button></div>
        <div><p><small>(Click to edit)</small></p></div>
    </div>

    <!--Image Modal-->
    <div id="picModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header"> 
                <h4 class="modal-title" id="modalHeader">Edit Profile Image</h4>
            </div>
            <div class="modal-body">
                <center><form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="newPicURL" placeholder="New Image URL"><button type="button" class="btn btn-default" id="picBtn">Save</button>
                    </div>
                </form></center>
            </div>
        </div> 
    </div>
    </div>
    <!--Name Modal-->
    <div id="displayNameModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header"> 
                <h4 class="modal-title" id="modalHeader">Edit Display Name</h4>
            </div>
            <div class="modal-body">
                <center><form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="newDisplayName" placeholder="New Display Name Here"><button type="button" class="btn btn-default" id="displayNameBtn">Save</button>
                    </div>
                </form></center>
            </div>
        </div> 
    </div>
    </div>
    <!--Postition Modal-->
    <div id="displayPosition" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header"> 
                <h4 class="modal-title" id="modalHeader">Edit Position with the Team</h4>
            </div>
            <div class="modal-body">
                <center><form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="newPosition" placeholder="New Position Here"><button type="button" class="btn btn-default" id="positionBtn">Save</button>
                    </div>
                </form></center>
            </div>
        </div> 
    </div>
    </div>


</div>
</body>

</html>


