body{
    margin:0px;
    padding:0px;
    color:#3E67B1 !important;
}
.container{
    width:100% !important;
    margin:0px !important;
    padding:0px !important;
    float:left;
}
.row{
    text-align:center;
    width:100% !important;
    margin: 0px !important;
    padding:0px !important;
}
#header{
    background-color:#3E67B1;
    margin:0px;
    padding:0px;
    width:100%;
}
button{
    color:black;
    width: 100%;
}
form{
    margin-top:20px;
    opacity: 0.85;
    padding: 100px;
    background-color:#3E67B1;
    box-shadow: 0 0px 12px;
    border-radius:5%;
}
#teamSelection{
  background-color:#3E67B1;
  color:white;
}
#loginBtn{
  background-color:#3E67B1;
  color:white;
}
#emailTxt{
  background-color:#3E67B1 !important;
  color: white!important;
}
#passwordTxt{
  background-color:#3E67B1 !important;
  color:white !important;
}
