body{
    margin:0px;
    padding:0px;
    color:black;
}
.container{
    width:100% !important;
    margin:0px !important;
    padding:0px !important;
    float:left;
}
.row{
    text-align:center !important;
    width:100% !important;
    margin: 0px !important;
    padding:0px !important;
}
#header{
    background-color:lightgray;
    margin:0px;
    padding:0px;
    width:100%;
}
/* ^^^^ BASICS NEEDED TO GET DIVS TO STRETCH TO WHOLE PAGE, STACK UP EVENLY, AND SOME OTHER STUFF*/
.box{
    border: solid black;
    width: 300px;
    height: 300px;
    margin:10px;
}
#playerPic{
    width:200px;
    height:200px;
    border-radius:50%;
}
#playerStatusBox{
    margin:0px;
    padding:0px;
    padding-left:30%;
}
#playerStatus{ 
    text-align: center;
    height:25px;
    background-color:limegreen;
    border: solid black;
}
#recommendations{
    height:500px;
    margin-top:2%;
    text-align:left;
}

