body{
    margin:0px;
    padding:0px;
    color:black;
}
.container{
    width:100% !important;
    margin:0px !important;
    padding:0px !important;
    float:left;
}
.row{
    text-align:center !important;
    width:100% !important;
    margin: 0px !important;
    padding:0px !important;
}
#header{
    background-color:lightgray;
    margin:0px;
    padding:0px;
    width:100%;
}
/* ^^^^ BASICS NEEDED TO GET DIVS TO STRETCH TO WHOLE PAGE, STACK UP EVENLY, AND SOME OTHER STUFF*/
.dropdown{
    float:left !important;
    height: 100% !important;
}
#menuDropdown{
    height: 100% !important;
    margin-left:0px !important;
    padding-left: 5px !important;
    color:black;
    background-color:lightgray;
}
/*^^^^^^^^^ MENU STUFF*/
#userPic{
    width:50px;
    height:50px;
    border-radius:50%;
}
#leftBorder{
    margin-top:10px;
    width:15%;
    height:500px;
    float:left;
    border-right:black solid;
}
#userInfo{
    margin-top:20px;
    float:left;
    text-align:left;
}
.no_show{
    border:none;
    background-color:white;
    color:black;
}
